* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
  background-color: #333333;
  color: #e0eae4;
}

/* setting sizes for all heading elements */

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.7rem;
}

h3 {
  font-size: 2.5rem;
}

/* stlying the main page header */

header {
  width: 96%;
  margin: 0 auto;
  background: linear-gradient(
    to right bottom,
    rgba(126, 213, 111, 0.8),
    rgba(40, 180, 133, 0.8)
  );
  border: 2px solid red;
}

header h1 {
  color: rgba(76, 2, 25, 0.8);
  text-align: center;
}

header nav {
  width: 100%;
  background: linear-gradient(
    to right bottom,
    rgba(207, 93, 240, 0.8),
    rgba(76, 2, 25, 0.8)
  );
}

header nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0.22em;
  border: 2px solid red;
}

header nav ul li {
  font-size: 2.45rem;
  list-style: none;
  padding: 0.44em 0.55em;
  text-transform: uppercase;
}

header nav ul li a {
  text-decoration: none;
  border: 2px dashed #e0eae4;
  padding: 0.22em 2.33em;
  color: #e0eae4;
}

header nav li a:hover {
  color: #980432;
  background-color: #e0eae4;
}

/* styling the hero section  */

.hero-banner {
  border: 2px solid orange;
  width: 96%;
  height: 25vh;
  margin: 0 auto;
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 133, 0.8)
    ),
    url("../images/02-hero-bg.jpg");
  background-position: top;
  background-size: cover;
}

.hero-banner div {
  display: flex;
  width: 100%;
  height: 25vh;
  justify-content: flex-end;
  align-items: flex-end;
}

.hero-banner div h2 {
  padding: 0.62em 1.2em;
  color: #e0eae4;
  background: linear-gradient(
    to right bottom,
    rgba(207, 93, 240, 0.8),
    rgba(76, 2, 25, 0.8)
  );
  font-weight: 900;
  text-align: center;
}

/*  main content */

.page-wrapper {
  border: 2px solid red;
  width: 96%;
  margin: 0 auto;
}

.page-section {
  background-color: rgba(38, 35, 52, 0.8);
}

.page-section .row {
  display: flex;
  padding: 2.5em;
}

/* about me */

.about {
  margin: 2em 0 2em 0;
}

.about .about-me-title {
  flex: 1;
  flex-basis: 10vw;
  text-align: center;
  padding: 0 1.32em 1.42em 0;
  border-right: 4px solid rgba(76, 2, 25, 0.8);
}

.about .about-me-content {
  flex: 4;
  font-size: 1.3rem;
}

.about .about-me-content p {
  padding: 0 1.75em 0 1.75em;
}

.about .about-me-picture {
  flex: 2;
}

.about .about-me-picture figure img {
  position: relative;
  left: 155px;
}

/* projects  */

.projects .projects-title {
  flex: 1;
  flex-basis: 4vw;
  padding: 0 1.32em 1.42em 0;
  border-right: 4px solid rgba(76, 2, 25, 0.8);
  text-align: center;
}

.projects .projects-content {
  display: flex;
  flex: 4;
  flex-wrap: wrap;
}

.projects .projects-content .item {
  flex: 1;
  border: 2px solid red;
  align-items: flex-start;
}

/* project item 1 */

.projects .projects-content .item-1 figure img {
  width: 65vw;
  max-height: 42vh;
  position: relative;
  left: 55px;
}

/* projects item 2  */

.projects .projects-content .item-2 {
  flex-basis: 5vw;
  flex: 1;
}

.projects .projects-content .item-2 figure img {
  width: 25vw;
  max-height: 22vh;
}

/* projects item-3 */

.projects .projects-content .item-3 {
  flex-basis: 5vw;
  flex: 1;
}

.projects .projects-content .item-3 figure img {
  width: 25vw;
  max-height: 22vh;
}

/* projects item-4 */

.projects .projects-content .item-4 {
  flex-basis: 5vw;
  flex: 1;
}

.projects .projects-content .item-4 figure img {
  width: 25vw;
  max-height: 22vh;
}

/* contact  */

.contact {
  height: 15vh;
}

.contact .contact-title {
  flex: 1;
  flex-basis: 13.6vw;
  padding: 0 1.32em 1.42em 0;
  border-right: 4px solid rgba(76, 2, 25, 0.8);
  text-align: center;
}

.contact .contact-link {
  flex: 2;
  padding: 2em;
  font-size: 1.9rem;
}

/*  footer  */

.footer {
  width: 96%;
  height: 10vh;
  margin: 0 auto;
}

.footer h3 {
  color: #e0eae4;
  text-align: center;
  padding-top: 2em;
}

/* media queries  */

@media screen and (min-width: 600px) {
  /* header styles */

  header h1 {
    text-align: center;
  }

  header nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  header nav ul li a {
    border: 2px dashed #e0eae4;
  }

  header nav li a:hover {
    color: #980432;
    background-color: #e0eae4;
  }

  .hero-banner div {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 900px) {
  header h1 {
    text-align: left;
  }

  header nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  header nav ul li a {
    border: 2px dashed #e0eae4;
  }

  header nav li a:hover {
    color: #980432;
    background-color: #e0eae4;
  }

  .hero-banner div {
    display: flex;
    justify-content: flex-end;
  }
}

@media screen and (min-width: 1200px) {
  header h1 {
    text-align: left;
  }

  header nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
  }

  header nav ul li a {
    border: 2px dashed #e0eae4;
  }

  header nav li a:hover {
    color: #980432;
    background-color: #e0eae4;
  }
}
